{{yield}}
<div class="container-fluid" id="main-footer">
  <div class="container flex flex-items-top flex-space-between">
    <div>
      <h3>Tour</h3>
      <ul class="list-unstyled">
        <li><a href="#">Financial information</a></li>
        <li><a href="#">Online invoicing</a></li>
        <li><a href="#">Expense tracking</a></li>
        <li><a href="#">Banks and cash flow</a></li>
        <li><a href="#">Contacts</a></li>
        <li><a href="#">Imports and official books</a></li>
        <li><a href="#">Taxes files</a></li>
        <li><a href="#">Users management</a></li>
        <li><a href="#">Integrations</a></li>
      </ul>
    </div>
    <div>
      <h3>About us</h3>
      <ul class="list-unstyled">
        <li><a href="#">Plans and pricing</a></li>
        <li><a href="#">Who we are</a></li>
        <li><a href="#">Work with us</a></li>
        <li><a href="#">What is a Quipu?</a></li>
        <li><a href="#">Our offices</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div>
      <h3>Resources</h3>
      <ul class="list-unstyled">
        <li><a href="#">Help</a></li>
        <li><a href="#">Integrations</a></li>
        <li><a href="#">Invoice generator</a></li>
        <li><a href="#">Features timeline</a></li>
        <li><a href="#">Affiliate program</a></li>
      </ul>
    </div>
    <div>
      <h3>Bookkeepers</h3>
      <ul class="list-unstyled">
        <li><a href="#">Bookkeepers</a></li>
        <li><a href="#">Plans and prices</a></li>
        <li><a href="#">How to begin</a></li>
        <li><a href="#">Directory</a></li>
      </ul>
    </div>
  </div>
</div>







