{{yield}}
<header class="container-fluid text-light" id="main-header">
  <div class="container flex flex-space-between">
    <div id="main-header-logo">
      <a href="/">
        {{inline-svg "assets/svg/main-logo"}}
      </a>
    </div>
    <nav id="main-nav">
      <ul>
        {{#each items as |item|}}
        <li><a href="{{item.href}}">{{item.title}}</a></li>
        {{/each}}
      </ul>
    </nav>
  </div>
</header>