{{yield}}
<div class="container-fluid index-hero flex">
  <div class="container">
    <div class="col-sm-6 offset-sm-6 text-large">
      <h1>Quipu</h1>
      <p>Quipu is the online invoicing software that simplifies your day to day administrative tasks</p>
    </div>
  </div>
</div>