#main-header {
  background: $base-color-green;
}

#main-header > .container {
  min-height: 100px;
  height: 100%;
  &:after {
    content: none;
  }
}

#main-header #main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
    padding: 1em;
  }
  a {
    color: $base-color-light;
    text-decoration: none;
  }
}

#main-header svg {
  .ice-cream,
  .wordmark {
    fill: $base-color-light;
  }
  .pro-label {
    display: none;
  }
}

@media only screen and (max-width: 575px) {
  #main-header > .container > * {
    display: block;
    margin: auto;
  }

  #main-header #main-header-logo {
    margin-top: 15px;
  }
}
